H1{
    text-align: left;
    padding: 20PX;
    font-family: 'Times New Roman', Times, serif
}

p{
    text-align:left;
    padding: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

  .menu-container {
    display: inline-block;
  }

  .menu-container1 {
    position:inline-block;
    padding: 3px;
  }
  