<app-header></app-header>

<main>
  
  <h1>Menu</h1>
  <div class="menu-container">
  <details>
   <summary>Pizza&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/imagenes/Pizza.png" alt="Pizza Artesanal" width="250px" height="150px"></summary>
    <p>Este es el contenido de la Pizza.</p>
    <ul>
      <li>Elemento 1</li>
      <li>Elemento 2</li>
      <li>Elemento 3</li>
    </ul>
  </details>
</div>
<div class="menu-container">
  <details>
    <summary> Bebida&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/imagenes/Sake.png" alt="Pizza Artesanal" width="250px" height="150px"></summary>
    <p>Este es el contenido de la Bebida.</p>
    <ul>
      <li>Elemento 1</li>
      <li>Elemento 2</li>
      <li>Elemento 3</li>
    </ul>
  </details>
  </div>
  <div class="menu-container1"></div>

  <div class="menu-container">
   <details>
    <summary>  Dona&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/imagenes/Dona.png" alt="Pizza Artesanal" width="250px" height="150px"></summary>
    <p>Este es el contenido de la Dona.</p>
    <ul>
      <li>Elemento 1</li>
      <li>Elemento 2</li>
      <li>Elemento 3</li>
    </ul>
  </details>
  </div>

  <div class="menu-container">
    <details>
    <summary>  Postre&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/imagenes/Postre.png" alt="Pizza Artesanal" width="250px" height="150px"></summary>
     <p>Este es el contenido de los Postres.</p>
     <ul>
       <li>Elemento 1</li>
       <li>Elemento 2</li>
       <li>Elemento 3</li>
     </ul>
   </details>
   </div>
   <div class="menu-container1"></div>
   <div class="menu-container">
    <details>
     <summary>  Tiramisu&nbsp;&nbsp;<img src="assets/imagenes/Tiramisu.png" alt="Pizza Artesanal" width="250px" height="150px"></summary>
     <p>Este es el contenido del Tiramisu.</p>
     <ul>
       <li>Elemento 1</li>
       <li>Elemento 2</li>
       <li>Elemento 3</li>
     </ul>
   </details>
   </div>

   <div class="menu-container">
    <details>
     <summary>  Pastel&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/imagenes/Pastel.png" alt="Pizza Artesanal" width="250px" height="150px"></summary>
     <p>Este es el contenido del Pastel</p>
     <ul>
       <li>Elemento 1</li>
       <li>Elemento 2</li>
       <li>Elemento 3</li>
     </ul>
   </details>
   </div>
   <div class="menu-container1"></div>
   <div class="menu-container">
    <details>
     <summary>  Croqueta&nbsp;&nbsp;<img src="assets/imagenes/croqueta.png" alt="Pizza Artesanal" width="250px" height="150px"></summary>
     <p>Este es el contenido de las Croquetas</p>
     <ul>
       <li>Elemento 1</li>
       <li>Elemento 2</li>
       <li>Elemento 3</li>
       <li>Elemento 4</li>
     </ul>
   </details>
   </div>
   <div class="menu-container">
    <details>
     <summary>  Pasta&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/imagenes/Pasta.png" alt="Pizza Artesanal" width="250px" height="150px"></summary>
     <p>Este es el contenido de la Pasta</p>
     <ul>
       <li>Elemento 1</li>
       <li>Elemento 2</li>
       <li>Elemento 3</li>
     </ul>
   </details>
   </div>


  </main>
<app-plato-adicional></app-plato-adicional>
<p>Dango&nbsp;&nbsp;&nbsp; <img src="assets/imagenes/danguito.png" alt="Dango" width="250px" height="150px"></p>
<app-footer></app-footer>

